<div style="width: 100%; margin-left: auto; margin-right: auto;">
    <h2 style="text-align: center; margin-top: 1%; font-size:32px;">Avaliação de Desempenho - Atividade 7</h2>
</div>

**Aluno:** Igor Carvalho da Silva  
**Email:** igor.carvalho@icomp.ufam.edu.br  
**Matrícula:** 21951288  

---

In [ ]:
!pip3 install numpy
!pip3 install pandas

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('reality-mining.txt', sep=' ', header=None, names=['time','conn','src','dest','type'])
df

            time  conn  src  dest  type
0              1  CONN   79    14    up
1              1  CONN   79    14  down
2             49  CONN   14    79    up
3             49  CONN   14    79  down
4           2252  CONN   14    20    up
...          ...   ...  ...   ...   ...
205182  16980866  CONN   85    15  down
205183  16980866  CONN   85    56  down
205184  16981088  CONN   15    95  down
205185  16981088  CONN   36    95  down
205186  16981816  CONN   85    95  down

[205187 rows x 5 columns]

In [4]:
N = max(df['src']) + 1
adj_matrix = np.zeros((N,N))

In [5]:
for index, row in df.iterrows():
    adj_matrix[row.src][row.dest] = 1
    adj_matrix[row.dest][row.src] = 1

## Número de conexões

In [6]:
total_connections = len(df[df['type'] == 'up'])
total_connections

102594

## Número de arestas

In [7]:
edges = 0
for i in range(N):
    edges = edges + sum(adj_matrix[i][i:])
edges

3085.0

## Num médio de conexões por nó

In [8]:
nodes = len(set(list(df['src']) + list(df['dest'])))
total_connections/nodes

1068.6875

## Conexões por minuto

In [9]:
total_connections/(max(df['time'])/60)

0.3624842007474348

## Tempo total de conexão

In [10]:
df_sorted = df.sort_values(['src','dest','type','time'])
total_connection_time = 0
for i in range(N):
    for j in range(i,len(adj_matrix[i])):
        if(adj_matrix[i][j] == 1):
            ups = list(df_sorted[(df_sorted.src == i) & (df_sorted.dest == j) & (df_sorted.type == 'up')]['time'])
            downs = list(df_sorted[(df_sorted.src == i) & (df_sorted.dest == j) & (df_sorted.type == 'down')]['time'])
            ups = ups[:len(downs)]
            total_connection_time += sum(downs) - sum(ups)
            ups = list(df_sorted[(df_sorted.src == j) & (df_sorted.dest == i) & (df_sorted.type == 'up')]['time'])
            downs = list(df_sorted[(df_sorted.src == j) & (df_sorted.dest == i) & (df_sorted.type == 'down')]['time'])
            ups = ups[:len(downs)]
            total_connection_time += sum(downs) - sum(ups)

In [23]:
total_connection_time

205882586

## Tempo médio de conexão

In [11]:
total_connection_time/nodes

2144610.2708333335

## Grupo com mais nós conectados
(Sugestão: utilizar slots de 3h)

## Média dos grupos com mais nós conectados

## Mediana dos grupos com mais nós conectados

## Número médio de nós conectados

## Mediana do número de nós conectados

## Maior grau dos nós por slot

## Grau médio dos nós por slot

## Criar uma lista dos contatos e suas durações
$(i,j,T_{ij})$ para todo $i,j \in N$

## Densidade do trace
$D = \frac{2|E|}{|V|(|V|-1)}$

In [112]:
density = (2*edges)/(nodes*(nodes-1))
density

0.6765350877192983