<div style="width: 100%; margin-left: auto; margin-right: auto;">
    <h2 style="text-align: center; margin-top: 1%; font-size:32px;">Avaliação de Desempenho - Atividade 7</h2>
</div>

**Aluno:** Igor Carvalho da Silva  
**Email:** igor.carvalho@icomp.ufam.edu.br  
**Matrícula:** 21951288  

---

In [ ]:
!pip3 install numpy
!pip3 install pandas

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('reality-mining.txt', sep=' ', header=None, names=['time','conn','src','dest','type'])
df

            time  conn  src  dest  type
0              1  CONN   79    14    up
1              1  CONN   79    14  down
2             49  CONN   14    79    up
3             49  CONN   14    79  down
4           2252  CONN   14    20    up
...          ...   ...  ...   ...   ...
205182  16980866  CONN   85    15  down
205183  16980866  CONN   85    56  down
205184  16981088  CONN   15    95  down
205185  16981088  CONN   36    95  down
205186  16981816  CONN   85    95  down

[205187 rows x 5 columns]