<div style="width: 100%; margin-left: auto; margin-right: auto;">
    <h2 style="text-align: center; margin-top: 1%; font-size:32px;">Avaliação de Desempenho - Atividade 7</h2>
</div>

**Aluno:** Igor Carvalho da Silva  
**Email:** igor.carvalho@icomp.ufam.edu.br  
**Matrícula:** 21951288  

---

In [ ]:
!pip3 install numpy
!pip3 install pandas

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('reality-mining.txt', sep=' ', header=None, names=['time','conn','src','dest','type'])
df

            time  conn  src  dest  type
0              1  CONN   79    14    up
1              1  CONN   79    14  down
2             49  CONN   14    79    up
3             49  CONN   14    79  down
4           2252  CONN   14    20    up
...          ...   ...  ...   ...   ...
205182  16980866  CONN   85    15  down
205183  16980866  CONN   85    56  down
205184  16981088  CONN   15    95  down
205185  16981088  CONN   36    95  down
205186  16981816  CONN   85    95  down

[205187 rows x 5 columns]

In [23]:
nodes = max(df['src']) + 1
adj_matrix = np.zeros((nodes,nodes))

In [24]:
for index, row in df.iterrows():
    adj_matrix[row['src']][row['dest']] = 1
adj_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 1., 1.],
       [0., 1., 0., ..., 1., 1., 1.],
       ...,
       [0., 1., 1., ..., 0., 1., 1.],
       [0., 1., 1., ..., 1., 0., 1.],
       [0., 1., 1., ..., 1., 1., 0.]])

## Número de conexões

In [29]:
total_conections = len(df[df['type'] == 'up'])
total_conections

102594

## Número de arestas

In [26]:
edges = 0
for i in range(nodes):
    edges += sum(adj_matrix[i][i+1:])
edges

2606.0

## Num médio de conexões por nó

In [28]:
total_conections/nodes

1057.6701030927834

## Conexões por minuto

## Tempo total de conexão

## Tempo médio de conexão

## Grupo com mais nós conectados
(Sugestão: utilizar slots de 3h)

## Média dos grupos com mais nós conectados

## Mediana dos grupos com mais nós conectados

## Número médio de nós conectados

## Mediana do número de nós conectados

## Maior grau dos nós por slot

## Grau médio dos nós por slot

## Criar uma lista dos contatos e suas durações
$(i,j,T_{ij})$ para todo $i,j \in N$

## Densidade do trace
$D = \frac{2|E|}{|V|(|V|-1)}$

In [ ]:
density = (2*edges)/(nodes*(nodes-1))